params {
    input   = null
    outdir  = "results"
    threads = 4
}

profiles {
    conda {
        conda.enabled  = true
        process.conda  = "$projectDir/config/environment.yml"
    }
    standard {
        process.executor = 'local'
    }
}

manifest {
    name        = 'bioinfo-pipeline'
    description = 'Long-read QC pipeline'
    version     = '1.0.0'
}